<footer class="footer">
      <nav class="navbar navbar-dark bg-dark navbar-fixed-bottom">
    <div class="container">
       <div class="container-fluid">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
                <h5 class="title">Footer Content</h5>
                <p>Here you can use rows and columns here to organize your footer content.</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 class="title">
                <span class="fa fa-address-card"></span>
                Contactanos
                </h5>
                <ul>
                    <li><a href="mailto:falvarez@udo.edu.ve">Lcdo. Francisco Álvarez Ortiz</a></li>
                    <li><a href="mailto:jlrojas@udo.edu.ve">Msc. Jorge Rojas</a></li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright" style="display: block; text-align: center; margin: auto;">
        <div class="container-fluid">
            © 2018 Copyright: <a href="http://csudo.sucre.udo.edu.ve/"> Centro de Sismología </a>
        </div>
    </div>
    </div>
</nav>
</footer>