.footer{
    //color: white;
    margin-top:auto; 
}

div.separada{
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

img.img-240{
	height: 240px;
}

img.img-120{
	height: 120px;
}

img.center{
	display: block;
    margin: auto;
}

img.proyecto{
	width: 100%;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

img.cabecera{
	width: 100%;
}

img.img-about{
    display: block;
    margin: auto;
    width: 300px;
    height: 100px;
}

img.perfil{
	display: block;
	margin: auto;
	width: 100px;
	height: 100px;
	border-radius: .25rem !important;
}

.modal-body div.row.botones-modal{
	margin-bottom: 0.5rem;
}

.modal-body div.row.botones-modal button{
	height: 60px;
}

div.col-desarrolladores{
	margin-top: .25rem;
	margin-bottom: .25rem;
}

div.container-full{
	padding-left: 0px;
	padding-right: 0px;
}