<footer class="footer">
<nav class="navbar navbar-dark bg-default navbar-fixed-bottom">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-6 col-sm-4 col-lg-2" *ngFor="let ventana of ventanas;">
          <button type="button" class="btn btn-outline-info" (click)="abrirModal(ventana)"></button>
        </div>
      </div>
    </div>

    <!--Copyright-->
    <div class="footer-copyright" style="display: block; text-align: center; margin: auto;">
        <div class="container-fluid">
            © 2018 Copyright: <a href="http://csudo.sucre.udo.edu.ve/"> Centro de Sismología </a>
        </div>
    </div>
</nav>
</footer>