<div class="container top-overlay-image">
  <div class="row">
    <div class="col-1">
      <button type="button" class="btn btn-link" (click)="toggleSidebar()">
        <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3 col-md-4 offset-md-4">
      <img class="full-image" src="./assets/images/cumasig-logo.png">
    </div>
  </div>
</div>

<div class="target">
  <img class="full-image" src="./assets/images/yoamoacumana.jpg">
  <div class="my-sidebar">
    <div class="container login">
      <div class="row">
        <div class="col">

          <fieldset *ngIf="!logged" class="form-group">
            <label for="email" class="bmd-label-floating">Correo Electronico</label>
            <input type="email" [(ngModel)]="email"  class="form-control" id="email" placeholder="Correo">
          </fieldset>
          <fieldset *ngIf="!logged" class="form-group">
            <label for="password" class="bmd-label-floating">Contraseña</label>
            <input type="password" onkeyup="if(event.keyCode === 13){$('#botonlogin2').click();}" [(ngModel)]="password"  class="form-control" id="password" placeholder="*******">
          </fieldset>

          <div class="center">
            <button *ngIf="!logged" type="button" id="botonlogin2" (click)="login()" class="btn btn-success btn-lg">Iniciar sesión</button>
            <button *ngIf="logged" type="button" id="botonlogout2" (click)="logout()" class="btn btn-success btn-lg">Iniciar sesión</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid bot-overlay-image">

          <div class="row primera">
            <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 box set-mid set-center">

              <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">

                  <div class="carousel-item active">
                    <img class="d-block w-100" src="./assets/images/arriba.jpg" alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="./assets/images/altagracia.jpg" alt="Second slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="./assets/images/indio.jpg" alt="Third slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="./assets/images/cumana.png" alt="Fourth slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100" src="./assets/images/resultados.png" alt="Fifth slide">
                  </div>

                  <div class="carousel-item">
                    <div class="logo d-block w-100">
                      <button type="button"  routerLink="/mapa" class="btn btn-outline-danger bmd-btn-fab">
                        <img class="boton-mapas" src="assets/images/mapas-logo.png">
                      </button>
                      <br/>
                      <span>Ver Mapas - Capas</span>
                    </div>
                  </div>

                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Siguiente</span>
                </a>
              </div>
              
            </div>
          </div>

</div>

<flash-messages></flash-messages>
<app-header></app-header>
<app-footer></app-footer>