<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.14.3/mapbox-gl.css' rel='stylesheet' />
<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.14.3/mapbox-gl.js'></script>

	<div *ngIf="claseBotonFiltro=='leaflet-control-layers leaflet-control leaflet-control-layers-expanded nomargin filtro'">
		<div class="row row-full">
			<div class="col-12">
				<form>

					<fieldset>
	
						<div class="row">
							<div class="form-group col-3">

								<label class="control-label" for="layerToFilter">Capa</label>
								<select class="form-control" name="layerToFilter" [(ngModel)]="layerToFilter" (change)="filtrarAtributos()">
									<option value="" selected disabled>Capa...</option>
									<option *ngFor="let cap of capasActivas" [value]="cap">{{cap}}</option>
								</select>
							</div>						
							<div class="form-group col-2">

								<label class="control-label" for="atributoFiltrado">Atributo</label>
								<select class="form-control" name="atributoFiltrado" [(ngModel)]="atributoFiltrado" (change)="elegirAtributo()">
									<option value="" selected disabled>Atributo...</option>
									<option *ngFor="let att of attributesToFilter" [value]="att.nombre">{{att.nombre}}</option>
								</select>
							</div>
							<div class="form-group col-3">

								<label class="control-label" for="filtroElegido">Filtro</label>
								<select class="form-control" name="filtroElegido" [(ngModel)]="filtroElegido" [disabled]="atributoElegido.nombre==''">
									<option value="" selected disabled>Filtro...</option>
									<option *ngIf="atributoElegido.tipo!='Text'" value="mayor">Mayor</option>
									<option *ngIf="atributoElegido.tipo!='Text'" value="mayorigual">Mayor o Igual</option>
									<option *ngIf="atributoElegido.tipo!='Text'" value="menor">Menor</option>
									<option *ngIf="atributoElegido.tipo!='Text'" value="menorigual">Menor o Igual</option>
									<option value="igual">Igual</option>
									<option value="diferente">Diferente</option>
								</select>
							</div>
							<div class="form-group col-auto">

									<label class="control-label" for="valorBusqueda">Valor</label>
								<div class="input-group">
									<input *ngIf="atributoElegido.tipo=='Text'" type="text" name="valorBusqueda" [(ngModel)]="valorBusqueda" [disabled]="filtroElegido==''">
									<input *ngIf="atributoElegido.tipo!='Text'" type="number" name="valorBusqueda" [(ngModel)]="valorBusqueda" [disabled]="filtroElegido==''">
									<button type="button" class="btn btn-outline-primary" (click)="aplicarFiltro()" [disabled]="valorBusqueda==''"><i class="fa fa-filter"></i></button>
								</div>
							</div>
						</div>
					</fieldset>
					

				</form>
			</div>
		</div>
	</div>

<div id="sidebar" class="leaflet-sidebar collapsed">
    <!-- Nav tabs -->
    <div class="leaflet-sidebar-tabs">
        <ul role="tablist"> <!-- top aligned tabs -->
            <li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
            <li ><a href="#capas" role="tab"><i class="fa fa-table"></i></a></li>
            <li ><a href="#foto" role="tab"><i class="fa fa-camera"></i></a></li>
        </ul>
 
        <ul role="tablist"> <!-- bottom aligned tabs -->
            <li><a href="#settings" role="tab"><i class="fa fa-info"></i></a></li>
        </ul>
    </div>
 
    <!-- Tab panes -->
    <div class="leaflet-sidebar-content">
        
        <div class="leaflet-sidebar-pane" id="home">
            <h1 class="leaflet-sidebar-header">
                Lista de capas disponibles
                <div class="leaflet-sidebar-close"><i class="fa fa-caret-left"></i></div>
            </h1>
            <p>Aqui va una intro, informacion del sismologico o xyz</p>
        </div>
 
        <div class="leaflet-sidebar-pane" id="capas">
            <h1 class="leaflet-sidebar-header">Capas<div class="leaflet-sidebar-close"><i class="fa fa-table"></i></div></h1>
            
            <form class="form">
            	<select class="form-control" name="tabla" [(ngModel)]="capa" (change)="seleccionarCapa()">
            		<option value="" selected disabled>Seleccione una capa</option>
            		<option value="parroquias">Parroquias</option>
            		<option value="escuelas">Escuelas</option>
            		<option value="lluvias">Lluvias</option>
            	</select>
            </form>
            
            <div>
	        	    <button type="button" class="btn btn-outline-info" (click)="traerCapa(capa)" [disabled]='capa.length==0'>Montar capa</button>
					<button type="button" class="btn btn-outline-info" (click)="open(content)" [disabled]="modalAbierta">Ver datos</button>

					<ng-template #content let-c="close" let-d="dismiss">
					  <div class="modal-header">
					    <h4 class="modal-title">Datos de la capa {{capa}}</h4>
					    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
					      <span aria-hidden="true">&times;</span>
					    </button>
					  </div>
					  <div class="modal-body">
					
						<div class="row" style="overflow-x:auto;" *ngIf="capaPaginada.length==0">
							
							
							
						</div>

						<div class="row" style="overflow-x:auto;" *ngIf="capaPaginada.length>0">
				
							<div class="col">
	
								<table *ngIf="geoJsons.length" class="table table-striped table-hover table-responsive">
								  <caption>Capa de {{capa}}
								  	<br>
								  	<button type="button" class="btn btn-outline-info" (click)="retrocederPagina()" [disabled]="numeroPagina==0"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
								  	<button type="button" class="btn btn-outline-info" (click)="avanzarPagina()" [disabled]="numeroPagina==capaPaginada.length-1"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>							  </caption>
								  <thead>
								    <tr>
								      <th scope="col">#</th>
								      <th scope="col" *ngFor="let att of estructuraActiva">{{att.nombre}}</th>
								    </tr>
								  </thead>
								  <tbody>
								    <tr *ngFor="let dato of paginaActiva; let i = index; ">
								      <th scope="row">{{((numeroPagina+1)*5)-5+i+1}}</th>
								      <td *ngFor="let att of estructuraActiva">{{dato.properties[""+att.nombre]}}</td>
								    </tr>			    
								  </tbody>
								</table>
							</div>

						</div>					
					  
					  </div>
					</ng-template>
					


            </div>

        </div>
        
        <div class="leaflet-sidebar-pane" id="foto">
            <h1 class="leaflet-sidebar-header">
                Capturar imagen
                <div class="leaflet-sidebar-close"><i class="fa fa-camera"></i></div>
            </h1>
            
            <div id="fotoCanvas"></div>
            
            <button type="button" class="btn btn-outline-info" (click)="tomarFoto()" [disabled]="loading"><i class="fa fa-camera"></i></button>
            <button type="button" class="btn btn-outline-success" (click)="descargarFoto()" [disabled]="!fotoDibujada"><i class="fa fa-download"></i></button>
        </div>        

    </div>
</div>

<div id="mapa" class="row-full push"></div>

	<div style="display: none">
		<div [class]="claseBotonFiltro" id="formularioFiltro" (mouseenter)="prevenirInteraccion('f')" (mouseleave)="permitirInteraccion('f')">

			<div (click)="toggleFilter()"><i class="fa fa-filter fa-2x" aria-hidden="true"></i></div>

		</div>
		
		<div class="leaflet-control-layers leaflet-control leaflet-control-layers-expanded nomargin" id="formularioPunto" (mouseenter)="prevenirInteraccion('p')" (mouseleave)="permitirInteraccion('p')">

			<div *ngIf="!pointHovered&&!dibujandoPunto"><i class="fa fa-street-view fa-2x" aria-hidden="true"></i></div>
			<div *ngIf="pointHovered||dibujandoPunto">

			<form class="form">
				
				<div class="row">
					<div class="form-group col">
						<label for="searchlat" class="control-label">Latitud</label>
						<input type="number" min="-90" max="90" class="form-control" name="searchlat" [(ngModel)]="searchPoint.lat" />
					</div>
				</div>			
	
				<div class="row">
					<div class="form-group col">
						<label for="searchlng" class="control-label">Longitud</label>
						<input type="number" min="-180" max="180" class="form-control" name="searchlng" [(ngModel)]="searchPoint.lng" />
					</div>
				</div>			

				<div class="row">
					<div class="form-group col">
						<label for="searchrad" class="control-label">Radio(m.)</label>
						<input type="number" min="1" class="form-control map-input" name="searchrad" [(ngModel)]="searchPoint.radius" />
					</div>
				</div>				

				<div class="row">
					<div class="form-group col">
						<label for="searchradArea" class="control-label">Area</label>
						<input type="number" min="1" class="form-control map-input" name="searchradArea" [(ngModel)]="searchPoint.area" disabled/>
					</div>
				</div>
				
				<div class="row">
					<div class="form-group col">
						<button type="button" class="btn btn-outline-danger" (click)="limpiarPunto()"> <i class="fa fa-eraser" aria-hidden="true"></i> </button>
						<button type="button" class="btn btn-outline-warning" (click)="obtenerPunto()"> <i class="fa fa-street-view" aria-hidden="true"></i> </button>
						<button type="button" class="btn btn-outline-info" (click)="encontrarPunto()"> <i class="fa fa-search" aria-hidden="true"></i> </button>
					</div>
				</div>
			</form>

			</div>
			

		</div>		
		
		<div class="leaflet-control-layers leaflet-control leaflet-control-layers-expanded nomargin" id="formularioDistancia" (mouseenter)="prevenirInteraccion('d')" (mouseleave)="permitirInteraccion('d')">
			
			<div *ngIf="!distanceHovered&&!dibujandoCamino"><i class="fa fa-road fa-2x" aria-hidden="true"></i></div>
			<div *ngIf="distanceHovered||dibujandoCamino">				

				<form class="form">
					
					<div class="row">
						<div class="form-group col">
							<table class="table">
							  <caption>Unidad de distancia
							  	<br>
							  	<button type="button" class="btn btn-outline-info" (click)="unidadDistancia='Km'" >Km</button>
							  	<button type="button" class="btn btn-outline-info" (click)="unidadDistancia='m'" >m</button>
							  </caption>
							  <thead>
							    <tr>
							      <th *ngIf="unidadDistancia=='Km'" scope="col">Distancia (Km.)</th>
							      <th *ngIf="unidadDistancia=='m'" scope="col">Distancia (m.)</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr>
							      <td *ngIf="unidadDistancia=='Km'">{{medidaDistancia.toFixed(8)}}</td>
							      <td *ngIf="unidadDistancia=='m'">{{(medidaDistancia*1000).toFixed(8)}}</td>
							    </tr>
							  </tbody>
							</table>
						</div>
					</div>					

					<div class="row">
						<div class="form-group col">
							<button type="button" class="btn btn-outline-danger" (click)="limpiarCamino()"> <i class="fa fa-eraser" aria-hidden="true"></i> </button>
							<button type="button" class="btn btn-outline-warning" (click)="medirCaminoElegido()"> <i class="fa fa-road" aria-hidden="true"></i> </button>
							<button type="button" class="btn btn-outline-info" (click)="medirCaminoDibujado()"> <i class="fa fa-paint-brush" aria-hidden="true"></i> </button>
						</div>
					</div>
				</form>
				
			</div>


		</div>

		<div class="leaflet-control-layers leaflet-control leaflet-control-layers-expanded nomargin" id="formularioArea" (mouseenter)="prevenirInteraccion('a')" (mouseleave)="permitirInteraccion('a')">

			<div *ngIf="!areaHovered&&!dibujandoPoligono"><i class="fa fa-bandcamp fa-2x" aria-hidden="true"></i></div>
			<div *ngIf="areaHovered||dibujandoPoligono">				

				<form class="form">
					
					<div class="row">
						<div class="form-group col">
							<table class="table">
							  <caption>Unidad de area
							  	<br>
							  	<button type="button" class="btn btn-outline-info" (click)="unidadArea='Km2'" >Km2</button>
							  	<button type="button" class="btn btn-outline-info" (click)="unidadArea='m2'" >m2</button>
							  </caption>

							  <thead>
							    <tr>
							      <th *ngIf="unidadArea=='Km2'" scope="col">Área (Km2.)</th>
							      <th *ngIf="unidadArea=='m2'" scope="col">Área (m2.)</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr>
							      <td *ngIf="unidadArea=='Km2'">{{medidaArea.toFixed(8)}}</td>
							      <td *ngIf="unidadArea=='m2'">{{(medidaArea*1000000).toFixed(8)}}</td>
							    </tr>
							  </tbody>
							</table>
						</div>
					</div>

					<div class="row">
						<div class="form-group col">
							<table class="table">

							  <caption>Unidad de distancia
							  	<br>
							  	<button type="button" class="btn btn-outline-info" (click)="unidadPerimetro='Km'" >Km</button>
							  	<button type="button" class="btn btn-outline-info" (click)="unidadPerimetro='m'" >m</button>
							  </caption>

							  <thead>
							    <tr>
							      <th *ngIf="unidadPerimetro=='Km'" scope="col">Perímetro (Km.)</th>
							      <th *ngIf="unidadPerimetro=='m'" scope="col">Perímetro (m.)</th>
							    </tr>
							  </thead>
							  <tbody>
							    <tr>
							      <td *ngIf="unidadPerimetro=='Km'">{{medidaDistancia.toFixed(8)}}</td>
							      <td *ngIf="unidadPerimetro=='m'">{{(medidaDistancia*1000).toFixed(8)}}</td>
							    </tr>
							  </tbody>
							</table>
						</div>
					</div>

					<div class="row">
						<div class="form-group col">
							<button type="button" class="btn btn-outline-danger" (click)="limpiarPoligono()"> <i class="fa fa-eraser" aria-hidden="true"></i> </button>
							<button type="button" class="btn btn-outline-warning" (click)="medirAreaElegida()"> <i class="fa fa-bandcamp" aria-hidden="true"></i> </button>
							<button type="button" class="btn btn-outline-info" (click)="medirAreaDibujada()"> <i class="fa fa-paint-brush" aria-hidden="true"></i> </button>
						</div>
					</div>
				</form>

			</div>
			

		</div>
	</div>
	
<i class="fa fa-spinner fa-pulse fa-2x fa-fw" *ngIf="loading"></i>	