<button class="dropdown-item" (click)="open(content)">Categorias</button>

	<ng-template #content let-c="close" let-d="dismiss">
		<div class="modal-header">
        <div class="container container-full">
          <div class="row">
            <div class="col-8 col-md-6 col-xl-4">
              <button type="button" class="btn btn-primary btn-block mdt" disabled>Administrar Categorías</button>
            </div>
            <div class="col float-right">
              <button type="button" id="botonCerrarCat" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
		</div>

		<div class="modal-body">

			<app-crear-categorias 
				(creacionTerminada)="terminarCreacion()" 
				[categoria]="categoria" 
				*ngIf="crearActivado">
			</app-crear-categorias>

			<app-actualizar-categorias 
				(edicionTerminada)="terminarEdicion()" 
				[categoria]="categoria" 
				*ngIf="editarActivado">
			</app-actualizar-categorias>

			<app-eliminar-categorias 
				(borradoTerminado)="terminarBorrado()" 
				[categoria]="categoria" 
				*ngIf="borrarActivado">
			</app-eliminar-categorias>

			<app-buscar-categorias 
				(categoriaCambiada)="agregarCategoria($event)" 
				(categoriaActualizada)="actualizarCategoria($event)" 
				(categoriaEliminada)="eliminarCategoria($event)" 
				(administrarCapaRequerida)="administrarCapa($event)" 
				*ngIf="!crearActivado && !editarActivado && !borrarActivado">
			</app-buscar-categorias>
			
		</div>
	</ng-template>