flash-messages{
    position: fixed;
    /* top: 70px; */
    left: 0;
    z-index: 5000;
    padding: 3px 1%;
}

div.load-curtain{
	position: fixed;
	z-index: 10000;
	display: none !important;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(255,255,255,0.5);
}

div.load-curtain.visible{
	display: flex !important;
}