<input type="file" name="file" id="geojsonfile" style="display: none" (change)="cargarGeojson($event)">
<button type="button" id="montar" style="display: none" (click)="montarDatos()"></button>

<nav class="navbar omni-nav navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/" ngbPopover="Inicio" placement="bottom" triggers="mouseenter:mouseleave">
    <img src="assets/images/logo2.png" style="float: left" width="250" height="55">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

    <li class="nav-item" *ngIf="logged">
      <a class="nav-link" href="#" routerLink="/casos">Reportar caso</a>
    </li>
    <li class="nav-item" *ngIf="logged">
      <a class="nav-link" href="#" routerLink="/sucesos">Sucesos</a>
    </li>
<!--    
    <li class="nav-item dropdown" ngbDropdown *ngIf="isRouteMapa()">
      <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administrar</a>
      <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdown01">
        <app-categorias></app-categorias>
        <app-capas></app-capas>
        <app-importar-capas [categorias]="categorias"></app-importar-capas>
      </div>
    </li>    
-->

         <li *ngIf="isRouteMapa()" class="nav-item dropdown" ngbDropdown >
            <a class="nav-link dropdown-toggle" id="dropdown01" ngbDropdownToggle  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Administrar</a>
            <div class="dropdown-menu" ngbDropdownMenu aria-labelledby="dropdown01">
              <app-categorias></app-categorias>
              <app-capas></app-capas>
              <div class="dropdown-divider"></div>
              <app-importar-capas [categorias]="categorias"></app-importar-capas>
            </div>
        </li>
<!--
    <li class="nav-item" *ngIf="isRouteMapa()">
      <app-categorias></app-categorias>
    </li>   

    <li class="nav-item" *ngIf="isRouteMapa()">
      <app-capas></app-capas>
    </li>   

    <li class="nav-item" *ngIf="isRouteMapa()">
      <app-importar-capas [categorias]="categorias"></app-importar-capas>
    </li>   
-->


          <li *ngIf="isRouteMapa()" class="nav-item">


            <ng-template #content let-c="close" let-d="dismiss">
              <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Seleccionar capa</h4>
                <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-xs-12">


                    <ngb-accordion
                    #acc="ngbAccordion"
                    [closeOthers]="true"
                    (panelChange)="limpiarCapasFiltradas($event)">

                        <ngb-panel *ngFor="let cat of categorias; let i = index;" 
                        [title]="cat.nombre"
                        [id]="'static-'+i">
                          <ng-template ngbPanelContent>
                            <div class="row">
                                <button type="button"
                                class="btn btn-success btn-filter"
                                (click)="filtrarCapas(cat.id)">
                                </button>
                              <div class="col-xs-12" *ngFor="let cap of capasFiltradas">
                                <button *ngIf="!isLayerSelected(cap.nombre)" class="btn btn-outline-info"
                                (click)="traerCapa(cap.nombre)">{{cap.nombre}}</button>

                                <button *ngIf="isLayerSelected(cap.nombre)" class="btn btn-info"
                                (click)="traerCapa(cap.nombre)">{{cap.nombre}}</button>
                              </div>
                            </div>
                          </ng-template>
                        </ngb-panel>   


                    </ngb-accordion>

                    
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Cerrar</button>
              </div>
            </ng-template>


            <a class="nav-link" (click)="open(content)">Visualizar Capas</a>
          </li>

    </ul>

      <form class="form-inline">
        <button *ngIf="isRouteMapa()" id="openFilterHeader" 
        type="button" class="btn btn-outline-info"
        (click)="openMapFilter()">
          <i class="fa fa-filter fa-2x" aria-hidden="true"></i>
        </button>
        <button *ngIf="isRouteMapa() && dataOpen" id="openDataHeader" 
        type="button" class="btn btn-info"
        (click)="openMapData()">
          <i class="fa fa-map-o fa-2x" aria-hidden="true"></i>
        </button>
        <button *ngIf="isRouteMapa() && !dataOpen" id="openDataHeader" 
        type="button" class="btn btn-outline-info"
        (click)="openMapData()">
          <i class="fa fa-map-o fa-2x" aria-hidden="true"></i>
        </button>
        <button *ngIf="isRouteMapa() && distanceOpen" id="openDistanceHeader"
        type="button" class="btn btn-info"
        (click)="openMapDistance()">
          <i class="fa fa-road fa-2x" aria-hidden="true"></i>
        </button>
        <button *ngIf="isRouteMapa() && !distanceOpen" id="openDistanceHeader"
        type="button" class="btn btn-outline-info"
        (click)="openMapDistance()">
          <i class="fa fa-road fa-2x" aria-hidden="true"></i>
        </button>
        <button *ngIf="isRouteMapa()  && areaOpen" id="openAreaHeader"
        type="button" class="btn btn-info"
        (click)="openMapArea()">
          <i class="fa fa-bandcamp fa-2x" aria-hidden="true"></i>
        </button>
        <button *ngIf="isRouteMapa()  && !areaOpen" id="openAreaHeader"
        type="button" class="btn btn-outline-info"
        (click)="openMapArea()">
          <i class="fa fa-bandcamp fa-2x" aria-hidden="true"></i>
        </button>
        <button *ngIf="isRouteMapa()  && pointOpen" id="openPointHeader"
        type="button" class="btn btn-info"
        (click)="openMapPoint()">
          <i class="fa fa-street-view fa-2x" aria-hidden="true"></i>
        </button>
        <button *ngIf="isRouteMapa()  && !pointOpen" id="openPointHeader"
        type="button" class="btn btn-outline-info"
        (click)="openMapPoint()">
          <i class="fa fa-street-view fa-2x" aria-hidden="true"></i>
        </button>
      </form>


    <ng-template *ngIf="!isRouteMapa()">
      
    <form class="form-inline">
      <button class="btn btn-success" *ngIf="!logged" (click)="showLogin()">Iniciar sesión</button>
       <button class="btn btn-primary" *ngIf="!logged" (click)="showRegister()">Registrate</button>
      <div class="dropdown" *ngIf="logged">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="fa fa-user"></span> {{user_logged}}
          </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#" routerLink="/profile" >Ver perfil</a>
        <a class="dropdown-item" href="#" (click)="logout()" >Cerrar sesión</a>
      </div>
    </div>
    </form>

    </ng-template>
  </div>
</nav>

<p-dialog header="Registrar nuevo usuario" width="400" modal="true" [(visible)]="display">
<p-progressBar mode="indeterminate" *ngIf="loading"></p-progressBar>

  <fieldset class="form-group">
    <label for="nombre" class="bmd-label-floating">Nombre</label>
    <input type="text" [(ngModel)]="nombre" class="form-control" id="nombre">
    <span class="bmd-help">Escriba su primer nombre</span>
  </fieldset>
  <fieldset class="form-group">
    <label for="apellido" class="bmd-label-floating">Apellido</label>
    <input type="text" [(ngModel)]="apellido"  class="form-control" id="apellido">
    <span class="bmd-help">Escriba su primer apellido</span>
  </fieldset>
  <fieldset class="form-group">
    <label for="email2" class="bmd-label-floating">Correo Electronico</label>
    <input type="email" [(ngModel)]="email"  class="form-control" id="email2">
    <span class="bmd-help">Escriba su correo electronico</span>
  </fieldset>
  <fieldset class="form-group">
    <label for="password2"  class="bmd-label-floating">Contraseña</label>
    <input type="password" [(ngModel)]="password" class="form-control"  id="password2">
    <span class="bmd-help">Escriba su correo electronico</span>
  </fieldset>

  <div class="center">
    <button type="button" class="btn btn-success btn-lg" (click)="register()">Registrar</button>
     <br/>
     <br/>
    ¿Tienes una cuenta? <a href="#" (click)="showLogin()">Ingresar</a>
  </div>
</p-dialog>

<p-dialog header="Iniciar sesión" width="400" modal="true" [(visible)]="registro">
<p-progressBar mode="indeterminate" *ngIf="loading"></p-progressBar>
<p-growl [(value)]="msgs"></p-growl>

  <fieldset class="form-group">
    <label for="email" class="bmd-label-floating">Correo Electronico</label>
    <input type="email" [(ngModel)]="email"  class="form-control" id="email">
    <span class="bmd-help">Escriba su correo electronico</span>
  </fieldset>
  <fieldset class="form-group">
    <label for="password" class="bmd-label-floating">Contraseña</label>
    <input type="password" onkeyup="if(event.keyCode === 13){$('#botonlogin').click();}" [(ngModel)]="password"  class="form-control" id="password">
    <span class="bmd-help">Escriba su correo electronico</span>
  </fieldset>

  <div class="center">
    <button type="button" id="botonlogin" (click)="login()" class="btn btn-success btn-lg">Iniciar sesión</button>
     <br/><br/>
       <!--<a href="#" (click)="showRecover()">¿Olvidaste su contraseña?</a>-->
     <br/><br/>
    ¿No tienes cuenta? <a href="#" (click)="showRegister()">Registrate</a>
  </div>
</p-dialog>

<p-dialog header="Recuperar contraseña" width="400" modal="true" [(visible)]="recover">

  <span class="fa fa-info fa-2x"></span> Introduzca su correo electronico y le enviaremos su nuevo código de seguridad.
  <fieldset class="form-group">
    <label for="email" class="bmd-label-floating">Correo Electronico</label>
    <input type="email" class="form-control" id="email">
    <span class="bmd-help">Escriba su correo electronico</span>
  </fieldset>

  <div class="center">
    <button type="button" class="btn btn-success">Enviar</button>
    <button type="button" (click)="showLogin()" class="btn btn-success">Regresar</button>
  </div>
</p-dialog>